/*
font-family: 'Saira',
sans-serif;
font-family: 'Saira Condensed',
sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  height: 100%;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}



.container {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


header {
    position: relative;
    background-color: #29a6dc;
    height: 20vh;
    overflow: hidden;

  }
  
  header > * {
    position: absolute;
  }
  
  header img {
    height: 100%;
    bottom: 0;
    right: 0;
  }
  
  header div.welcome {
    z-index: 1;
    top: 5%;
    left: 15%;
    font-family: 'Saira Condensed',
      sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }

  .welcome p {
    font-size: 5em;
  }
  
  
  .welcome h1 {
    margin-top: 0;
  }
  

  .navbar {
      background-color: black;
      font-family: "Saira";
      padding: 10px 0 10px 50px;

  }

  .navbar ul {
      list-style: none;
  }


  .navbar ul li {
    float: left;
    width: 15%;
    margin: 0 10px;

  }

  .navbar ul li a {
      display: block;
      border: 2px solid white;
      font-size: 20px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s ease-out;

  }

  .navbar ul li a:hover {
    background-color: grey;
  }

  /* DESCRIPTION */

  .description {
      height: 300px;
      display: flex;
      flex-direction: column;

  }

  .description h1 {
      margin: 15px 0 10px 10px;
      text-transform: uppercase;
      font-family: "Saira";
  }

  .text {
    line-height: 150%;
    text-align: justify;
    padding: 0 20px 0 20px;
  }

  .description > div {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    
  }

  /* HOBBY */


.items {
      height: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

  }

  .items > div {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    transition: 1s;


  }

  #item1 {
    background-image: url(images/hobby1.jpg);
  }
  #item2 {
    background-image: url(images/hobby3.jpg);
  }#item3 {
    background-image: url(images/hobby2.jpg);
  }

  .hobby h1 {
      margin: 15px 0 10px 10px;
      text-transform: uppercase;
      font-family: "Saira";
  }

  .hobby p {
    font-family: 'saira', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 4px black;
    font-size: 30px;
    padding: 5px 0;
    transition: 1s;
    cursor: default;
    opacity: 0;
  }

  #item1:hover p, #item2:hover p, #item3:hover p {
    opacity: 1;
  }

  #item1:hover, #item2:hover, #item3:hover {
    background-size: 180%;
  }


.container {
  background-color: blanchedalmond;
}



  footer {
      font-family: "Saira";
      font-size: 20px;
      background-color: #444;
      color: white;
      text-align: center;
      padding: 10px 0;
      margin-top: 40px;
  }







