/*
font-family: 'Saira',
sans-serif;
font-family: 'Saira Condensed',
sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


header {
    position: relative;
    background-color: #29a6dc;
    height: 25vh;
    overflow: hidden;

  }
  
  header > * {
    position: absolute;
  }
  
  header img {
    height: 100%;
    bottom: 0;
    right: 0;
  }
  
  header div.welcome {
    z-index: 1;
    top: 7%;
    left: 15%;
    /* right: 5%; */
    font-family: 'Saira Condensed',
      sans-serif;
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
  }
  
  
  header h1 {
    margin-top: 0px;
    font-size: 40px;
  }
  
  header h2 {
    font-size: 20px;
    font-weight: normal;
  }

  .navbar {
      background-color: black;
      font-family: "Saira";
      padding: 10px 0 10px 50px;

  }

  .navbar ul {
      list-style: none;
  }


  .navbar ul li {
    float: left;
    width: 15%;
    margin: 0 10px;

  }

  .navbar ul li a {
      display: block;
      /* padding: 10px 30px; */
      border: 2px solid white;
      font-size: 20px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s ease-out;

  }

  .navbar ul li a:hover {
    background-color: grey;
    /* color: black;
    border-color:grey; */
  }

  /* DESCRIPTION */

  .description {
      height: 300px;



  }

  .dc h1 {
      margin: 20px 0;
      text-transform: uppercase;
      font-family: "Saira";
  }

  .dc p {
      float: left;
      margin-left: 30px;
      text-align: justify;
  }

  .dc img {
    float: left;
}

  footer {
      font-family: "Saira";
      font-size: 20px;
      background-color: #444;
      color: white;
      text-align: center;
      padding: 10px 0;
      margin-top: 40px;
  }







